<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Receipt</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container my-4">
    <h3>Payment Receipt</h3>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Payment ID: <span th:text="${payment.id}"></span></h5>
            <p class="card-text"><strong>Method:</strong> <span th:text="${payment.method}"></span></p>
            <p class="card-text">
                <strong>Payment Status:</strong>
                <span th:text="${payment.status}"
                      th:classappend="${payment.status == 'SUCCESS'} ? 'text-success' : 'text-danger'">
                </span>
            </p>
            <hr>
            <p class="card-text"><strong>Order ID:</strong> <span th:text="${payment.order.id}"></span></p>
            <p class="card-text">
                <strong>Order Status:</strong>
                <span th:text="${payment.order.status}" class="font-weight-bold"></span>
            </p>
        </div>
    </div>
    <a th:href="@{/order/history}" class="btn btn-primary mt-3">Back to Order History</a>
</div>
</body>
</html>